/*
 * FONTS
 */

@font-face {
    font-family: BebasNeue;
    src: url(BebasNeue.woff);
    font-weight: normal;
}

/*
 * GLOBAL DEFAULTS
 */

* {
    overflow: hidden;
    font-family: BebasNeue, sans-serif;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    border: none;
}

*:focus {
    outline: 0;                             
}

/*
 * ELEMENT DEFAULTS
 */

body {
    background: #000;
}

/*
 * CLASS CONTROLS
 */

.content {
    background: #FFF;
    margin: auto;
    position: absolute;
    top: 0; 
    bottom: 0; 
    width: 100vw;
    height: 50vw;
}

/** https://www.petercarrero.com/examples/stroke/ **/

.stroke:before {
    left: 0;
    z-index: -1;
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.2em #000000; 
}