/*
 * COLORS
 *
 * background-1 : #000000
 * background-2 : #FFFFFF
 * accent       : #0000FF
 * select1      : #C80164
 * select2      : #00C864
 */

/*
 * FONTS
 */

@font-face {
    font-family: BebasNeue;
    src: url(BebasNeue.woff);
    font-weight: normal;
}

/*
 * ANIMATIONS
 */

@-webkit-keyframes slide-down {
    from { -webkit-transform: translate(0, -50vw); transform: translate(0, -50vw) }
    to { -webkit-transform: none; transform: none }
}

@keyframes slide-down {
    from { -webkit-transform: translate(0, -50vw); transform: translate(0, -50vw) }
    to { -webkit-transform: none; transform: none }
}

.slide-down {
    -webkit-animation: slide-down;
            animation: slide-down;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

@-webkit-keyframes slide-up {
    from { -webkit-transform: translate(0, 50vw); transform: translate(0, 50vw) }
    to { -webkit-transform: none; transform: none }
}

@keyframes slide-up {
    from { -webkit-transform: translate(0, 50vw); transform: translate(0, 50vw) }
    to { -webkit-transform: none; transform: none }
}

.slide-up {
    -webkit-animation: slide-up;
            animation: slide-up;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

@-webkit-keyframes slide-left {
    from { -webkit-transform: translate(50vw, 0); transform: translate(50vw, 0) }
    to { -webkit-transform: none; transform: none }
}

@keyframes slide-left {
    from { -webkit-transform: translate(50vw, 0); transform: translate(50vw, 0) }
    to { -webkit-transform: none; transform: none }
}

.slide-left {
    -webkit-animation: slide-left;
            animation: slide-left;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

@-webkit-keyframes slide-right {
    from { -webkit-transform: translate(-50vw, 0); transform: translate(-50vw, 0) };
    to { -webkit-transform: none; transform: none };
}

@keyframes slide-right {
    from { -webkit-transform: translate(-50vw, 0); transform: translate(-50vw, 0) };
    to { -webkit-transform: none; transform: none };
}

.slide-right {
    -webkit-animation: slide-right;
            animation: slide-right;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

@-webkit-keyframes banner-in {
    from { -webkit-transform: translate(-50vw, 50vw) skew(-55deg); transform: translate(-50vw, 50vw) skew(-55deg) }
    to {  -webkit-transform: translate(0, 0) skew(-55deg);  transform: translate(0, 0) skew(-55deg) }
}

@keyframes banner-in {
    from { -webkit-transform: translate(-50vw, 50vw) skew(-55deg); transform: translate(-50vw, 50vw) skew(-55deg) }
    to {  -webkit-transform: translate(0, 0) skew(-55deg);  transform: translate(0, 0) skew(-55deg) }
}

@-webkit-keyframes banner-out {
    from { -webkit-transform: translate(0, 0) skew(-55deg); transform: translate(0, 0) skew(-55deg) }
    to { -webkit-transform: translate(50vw, -50vw) skew(-55deg); transform: translate(50vw, -50vw) skew(-55deg) }
}

@keyframes banner-out {
    from { -webkit-transform: translate(0, 0) skew(-55deg); transform: translate(0, 0) skew(-55deg) }
    to { -webkit-transform: translate(50vw, -50vw) skew(-55deg); transform: translate(50vw, -50vw) skew(-55deg) }
}

.banner-transition {
    -webkit-animation: banner-in 0.5s, banner-out 0.5s;
            animation: banner-in 0.5s, banner-out 0.5s;
    -webkit-animation-delay: 0s, 1.5s;
            animation-delay: 0s, 1.5s;
}

@-webkit-keyframes text-in {
    from { -webkit-transform: translate(-50vw, 50vw); transform: translate(-50vw, 50vw) }
    to {  -webkit-transform: translate(0, 0);  transform: translate(0, 0) }
}

@keyframes text-in {
    from { -webkit-transform: translate(-50vw, 50vw); transform: translate(-50vw, 50vw) }
    to {  -webkit-transform: translate(0, 0);  transform: translate(0, 0) }
}

@-webkit-keyframes text-out {
    from { -webkit-transform: translate(0, 0); transform: translate(0, 0) }
    to { -webkit-transform: translate(50vw, -50vw); transform: translate(50vw, -50vw) }
}

@keyframes text-out {
    from { -webkit-transform: translate(0, 0); transform: translate(0, 0) }
    to { -webkit-transform: translate(50vw, -50vw); transform: translate(50vw, -50vw) }
}

.text-transition {
    -webkit-animation: text-in 0.5s, text-out 0.5s;
            animation: text-in 0.5s, text-out 0.5s;
    -webkit-animation-delay: 0s, 1.5s;
            animation-delay: 0s, 1.5s;
}

@-webkit-keyframes slide-up-rotated {
    from { -webkit-transform: translate(0, 50vw) rotate(11.3deg); transform: translate(0, 50vw) rotate(11.3deg);  }
    to { -webkit-transform: none rotate(11.3geg); transform: none rotate(11.3geg) }
}

@keyframes slide-up-rotated {
    from { -webkit-transform: translate(0, 50vw) rotate(11.3deg); transform: translate(0, 50vw) rotate(11.3deg);  }
    to { -webkit-transform: none rotate(11.3geg); transform: none rotate(11.3geg) }
}

.slide-up-rotated {
    -webkit-animation: slide-up-rotated;
            animation: slide-up-rotated;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}
/*
 * GLOBAL DEFAULTS
 */

* { 
    display: block;
    overflow: hidden;
    text-align: left;
    font-family: BebasNeue, sans-serif;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    border: none;
}

*:focus {
    outline: 0;                             
}

/*
 * ELEMENT DEFAULTS
 */

body {
    background: #000;
}

pre {
    text-align: left !important;
}

ul {
    overflow-y: auto;
}

li {
    text-align: left !important;
    padding: 0.5vw;
}

/* Some magic http://jsfiddle.net/hmartiro/Xck2A/1/ */
ul::-webkit-scrollbar {
    width: 3vw;
}

ul::-webkit-scrollbar-thumb {
    border: 1vw solid #000000;
    background: #FFFFFF; 
}
/*
 * CLASS CONTROL
 */

.content {
    background: #FFF;
    margin: auto;
    position: absolute;
    top: 0; 
    bottom: 0; 
    width: 100vw;
    height: 50vw;
}

.unselectable {
    overflow: visible;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    text-align: center;
}

.stroke {
    text-shadow:
        0.3vw 0 0 #000,
        -0.3vw 0 0 #000,
        0.2vw 0.3vw 0 #000,
        0.4vw -0.3vw 0 #000,
        -0.4vw 0.3vw 0 #000,
        -0.2vw -0.3vw 0 #000,
        0 0.3vw 0 #000,
        0 -0.3vw 0 #000;
}

.rotate:hover {
    font-size: 5vw !important;
    -webkit-transform: rotateZ(-10deg) !important;
            transform: rotateZ(-10deg) !important;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
}

.large-rotate:hover {
    font-size: 12vw !important;
    -webkit-transform: rotateZ(-10deg) !important;
            transform: rotateZ(-10deg) !important;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
}

.grow:hover {
    -webkit-transform: scale(1.2, 1.2) !important;
            transform: scale(1.2, 1.2) !important;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
}

.circle {
    border-radius: 50%;
}
.unselected {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}